out/user_*.js
out/user_*.cpp
out/user_*.map
out/user_*.mem
node_modules/
demos/mbed-cloud-client/
*.bc
mbed-simulator-hal/components/mbed-http/
demos/*/out
mbed-simulator-hal/components/MQTT/
mbed-simulator-hal/mbed-os/
