*.bc
demos/*/out
demos/lorawan-classc/
demos/mbed-cloud-client/
mbed-simulator-hal/*.cache
mbed-simulator-hal/mbed-http/
mbed-simulator-hal/mbed-os/
mbed-simulator-hal/MQTT/
mbed-simulator-hal/simple-mbed-cloud-client/
node_modules/
out/*.*
