*.o
*.so
*.a
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.obj
*.DxLog
*.sbr
*.exe
*.tlog
Thumbs.db
*.idb
*.pdb
*.bsc
*.pdb
*.sdf
*.opensdf
*.pyc
*.d
*.elf
*.bin
*.lst
*.*~
*.map
*.hex
.cproject
.project
*.vc.*
Build/
out/
mbed-os/
CMakeFiles/
CMakeCache.txt
files.cmake
Makefile
cmake_install.cmake
Test/RTOS_tests/*
Workspace/VS2013/PAL/PAL.vcxproj.filters
Workspace/VS2013/PAL/PAL.vcxproj
Workspace/VS2013/PAL/PAL.sln
.vscode/*
